<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>TODO Application</title>
</head>
<body>
    <div class="logout-container">
        <a href="{{ url_for('main') }}"><button class="logout">Logout</button></a>
    </div>
    <div class="dashboard-container">
        <a href="{{ url_for('dashboard') }}"><button class="dashboard">Dashboard</button></a>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
