<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='forgot_password.css') }}"> 
</head>
<body>

    <div class="forgot-password-container">
        <h1>Forgot Password</h1>

        {% if message %}
        <div class="message">
            {{ message }}
        </div>
        {% endif %}
        
        {% if er_message %}
        <div class="er_message">
            {{ er_message }}
        </div>
        {% endif %}

        <form action="{{ url_for('reset_password') }}" method="POST">
            <input type="email" name="email" placeholder="Enter your email" required>
            <input type="password" name="newpassword" placeholder="New Password" required>
            <button type="submit">Reset Password</button>
        </form>
        {% if not val %}
        <div class="login-link">
            <p>Remember your password? <a href="{{ url_for('main') }}">Login</a></p>
        </div>
        {% endif %}
        {% if val %}
        <a href="{{ url_for('main') }}"><button>Login</button></a>
        {% endif %}
    </div>
    </div>

</body>
</html>
