<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='forgot_password.css') }}"> 
</head>

<body>
    <div class="forgot-password-container">
        <h1>Forgot Password</h1>

        {% if message %}
        <div class="message">
            {{ message }}
        </div>
        {% endif %}
        
        {% if er_message %}
        <div class="er_message">
            {{ er_message }}
        </div>
        {% endif %}
        {%if ver%}
        <form action="{{ url_for('reset_password') }}" method="POST">
        {% else %}
        <form action="{{ url_for('verification_code') }}" method="POST">
        {%endif%}
            <input type="email" value="{{em}}" name="email" placeholder="Enter your email" required>
            {%if ver%}
            <input type="password" value="{{mp}}" name="newpassword" placeholder="New Password" required>
            <input type="number" name="verification" placeholder="Enter verification code" required>
            <button type="submit">Verify Code</button>
            {% else %}
            <button type="submit">Send verification Code</button>
            {%endif%}
        </form>
        {% if not val %}
        <div class="login-link">
            <p>Remember your password? <a href="{{ url_for('main') }}">Login</a></p>
        </div>
        {% endif %}
        {% if val %}
        <a href="{{ url_for('main') }}"><button>Login</button></a>
        {% endif %}
    </div>
    </div>

</body>
</html>